/* Search Widget */
.widget_search .screen-reader-text {
  display: none; }

.widget_search input#s, .widget_search input#searchsubmit {
  padding: .7em;
  height: 40px !important;
  margin: 0;
  font-size: 14px;
  line-height: normal !important;
  border: 1px solid #ddd;
  color: #666; }

.widget_search #s {
  width: 100%;
  border-radius: 3px; }

.widget_search #searchform {
  position: relative; }

.widget_search #searchsubmit {
  background-color: #ddd;
  width: 70px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  right: 0;
  top: 0; }

#searchsubmit {
  cursor: pointer; }

