/* Tag Cloud */
.tagcloud a {
  font-size: 12px !important;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 4px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.tagcloud a:hover {
  background: rgba(0, 0, 0, 0.15); }

